$theme: "light";
.page {
  @if $theme== "light" {
    background-color: white;
    color: black;
  } @else {
    background-color: black;
    color: white;
  }
}
.box {
  background-color: red;
}
$rounded: false;
.box {
  border-radius: if($rounded==true, 6px, null);
}
